<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNES: {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.css')}}">
    <script src="{{url_for('static', filename='bootstrap/js/bootstrap.js')}}"></script>
</head>
<body class="{% block backgroundclass %}main{% endblock %}">
    <header>
        <nav>
            <img src="{{url_for('static', filename='img/logo.png')}}" alt="logo image">
            <a href="/">Home<a>
            <a href="/about_us">Sobre Nós</a>
            <a href="/contacts">Contato </a>
        </nav>
    </header>
    <main>{% block body%}{% endblock %}</main>
</body>
</html>