{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<img src="{{url_for('static', filename='img/capa.png')}}" alt="capa">
<article>
    <h1>Sobre a Universidade</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae animi quis error. Officiis nihil architecto animi! Quod aliquid cupiditate assumenda officia quaerat, corporis accusamus fuga. Deleniti aspernatur fugiat doloribus incidunt cum qui porro ducimus ad sunt, corrupti illo harum quisquam dolore laboriosam labore maiores autem aliquid voluptatum reprehenderit consequatur fuga architecto quam. Fuga officiis provident necessitatibus doloremque sit distinctio assumenda, fugiat rem facilis. Vel, praesentium magni. Perspiciatis ducimus minus quaerat, hic deleniti voluptates neque voluptate iusto fugiat. Totam earum tempora voluptates modi enim libero dolore molestias laudantium rem repellendus explicabo quibusdam quam, veritatis commodi nisi, soluta incidunt eos dicta hic.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam odit aliquam cumque, praesentium blanditiis alias, sapiente, quae corrupti rem eos officia. Assumenda quas atque voluptatibus voluptatum mollitia natus sequi porro dolore omnis eveniet autem quam, placeat illum optio maxime dolores earum a! Similique officiis aperiam ad magnam dolore excepturi neque non asperiores reprehenderit! Temporibus blanditiis quae incidunt nisi qui nostrum, eaque perferendis eveniet autem architecto quidem consequatur ut aliquid dolor dolorem ullam in, eum amet alias, assumenda quasi exercitationem earum? Quis ab tempora nulla tenetur quasi distinctio consequuntur pariatur voluptate nobis ex non omnis accusantium necessitatibus minima, exercitationem ut architecto?
    </p>
</article>
<footer>
    <p>Todos os Direitos Reservados</p>
</footer>
{% endblock %}